// espace vide au dessus des projets au clique sur l'icone du header

#myProjects {
    &::before {
        content: "";
        display: block;
        height: 20px;
        /* Ajuste la hauteur selon tes besoins */
        margin-top: 0px;
        /* Compense la hauteur pour que l'ancre ne change pas la position réelle */
    }
}

.mesProjets {

    @media screen and (max-width: 720px) {
        // réglages pour téléphone
        width: 85vw;
        margin: 0 auto;
    }

    @media screen and (max-width: 1200px) {
        // réglages pour tablette
        width: 80vw;
        margin: 0 auto;
    }

    // réglage pour ordi
    width: 65vw;
    margin: 0 auto;

    h2 {

        @include title;

        @media screen and (min-width: 1200px) {
            // réglages pour tablette
            width: 50vw;
            margin: 4rem auto 4rem;
        }
    }

    .projetsContainer {
        @media screen and (min-width: 1200px) {
            // réglages pour ordis
            display: grid;
            grid-template-columns: 50% 50%;

        }

        @media screen and (min-width: 720px) {
            // réglages pour tablette
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 5%;
        }

    }

    .projetContainer1 {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 5%;
        margin-bottom: 100px;

        @media screen and (min-width: 720px) {
            // réglages pour tablettes
            gap: 5%;
        }


        @media screen and (min-width: 1200px) {
            gap: 0%;
            display: grid;
            grid-template-columns: 50% 50%;
        }

        .imgContainer {
            max-width: 80%;
            max-height: 350px;
            border-radius: 10px;
            overflow: hidden;


            img {
                width: 100%;
                height: 100%;
                transition: 0.3s;

                &:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                }
            }
        }

        .expProjet {
            @include p;
            text-align: left;
            font-size: 1rem;
            font-family: $font3;
            margin: 0 auto;
            line-height: 2rem;
            display: grid;
            grid-template-rows: 80% 20%;

            p {
                min-height: 150px;
                max-height: 200px;
            }

            @media screen and (min-width: 1200px) {
                font-size: 1.5rem;
                min-height: 150px;

            }
        }
    }


    .projetContainer2 {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 5%;
        margin-bottom: 100px;

        @media screen and (min-width: 720px) {
            // réglages pour tablettes
            gap: 5%;
        }


        @media screen and (min-width: 1200px) {
            gap: 0%;
            display: grid;
            grid-template-columns: 50% 50%;
        }

        .imgContainer {
            max-width: 80%;
            max-height: 350px;
            border-radius: 10px;
            overflow: hidden;


            img {
                width: 100%;
                height: 100%;
                transition: 0.3s;

                &:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                }
            }
        }

        .expProjet {
            @include p;
            text-align: left;
            font-size: 1rem;
            font-family: $font3;
            margin: 0 auto;
            line-height: 2rem;
            display: grid;
            grid-template-rows: 80% 20%;

            p {
                min-height: 150px;
                max-height: 200px;
            }

            @media screen and (min-width: 1200px) {
                font-size: 1.5rem;
                min-height: 150px;

            }
        }
    }

    .pProject {
        @include p;
        font-family: $font3;
        line-height: 2.5rem;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 10vh;
        font-size: 1rem;
        text-align: center;



        @media screen and (min-width: 720px) {
            //     // réglages pour tablettes
            font-size: 1.5rem;
            line-height: 3rem;

        }

    }
}


.contact {


    @media screen and (max-width: 720px) {
        // réglages pour téléphone
        width: 85vw;
        margin: 0 auto;
    }

    @media screen and (max-width: 1200px) {
        // réglages pour tablette
        width: 65vw;
        margin: 0 auto;
    }

    // réglage pour ordi
    width: 50vw;
    margin: 0 auto;

    h2 {
        @include title;
    }

    p {
        @include p;
        font-family: $font3;
        line-height: 2.5rem;
        max-width: 100%;
        margin: 0 auto;
        font-size: 1rem;
        margin-bottom: 100px;


        @media screen and (min-width: 720px) {
            //     // réglages pour tablettes
            font-size: 1.5rem;
            line-height: 3rem;
        }
    }



}