// **settings**



// font-family: "inter-bold";


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// font-family: 'Montserrat';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




$font1: "inter", serif;
$font3: "Montserrat", serif;

$black1: rgb(17, 17, 17);
$white1: rgba(243, 243, 243, 0.821);
$white2: rgba(255, 255, 255, 0.9);
$purple1 : rgb(115, 78, 225);
$purple2 : rgba(115, 78, 225, 0.655);
$deepBlue : #001C64;


@mixin title {
    font-family: $font3;
    // tous les titres avec le blanc profond
    color: $white1;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 4rem 0 4rem;
    font-size: 2rem;
    font-family: $font3;
    text-align: left;
}

@mixin p {
    font-family: $font3;
    color: $white2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
    text-decoration: none;
}

a,
.aTxt {
    text-decoration: none;
    color: $white1;


}

body {
    background: linear-gradient(to left, #000000eb, #000000d1);

}

header {
    color: $white1;
}

nav {
    color: $white1;
    border-radius: 8px;
}


.navHeader {
    position: relative;
    font-family: $font1;
    width: 60%;
    height: 50px;
    margin: 2vh auto 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    ///effet glass
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur (10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);

    @media screen and (max-width: 420px) {
        width: 90%;
    }

    a {
        position: relative;
        display: inline-block;
        font-size: 1em;
        font-weight: 600;
        color: $white1;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;


        // Pour que le a prenne 100% de la taille de la case
        height: 100%;
        width: 100%;

        // @media screen and (max-width: 420px) {
        //     font-size: 0.8rem;
        // }
    }

    span {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 33%;
        background-color: #001C64;
        border-radius: 8px;
        transition: .5s;
    }

    a.active~span {
        left: 33%; // Position du lien actif
    }

    a.active~span {
        transition: 0.5s ease; // Pas d'animation au chargement
    }

    a:nth-child(1).active~span {
        left: 0;
    }

    a:nth-child(2).active~span {
        left: 33%;
    }

    a:nth-child(3).active~span {
        left: 67%;
    }


    a:nth-child(1):hover~span {
        left: 0;
    }

    a:nth-child(2):hover~span {
        left: 33%;
    }

    a:nth-child(3):hover~span {
        left: 67%;
    }

}




.btn {
    display: inline-block;
    text-align: center;
    padding: 1em 2em;
    font-weight: 700;
    background-color: #E1E1E1;
    border: 1px solid $black1;
    border-radius: 8px;
    font-family: $font1;
    text-transform: capitalize;
    color: #001C64;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s ease;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 5vh;
    width: 200px;


    &:hover {
        background-color: #001C64;
        color: #E1E1E1;
        border: 1px solid $black1;
    }
}

.btnContactContainer {
    text-align: center;
}





.strong {
    font-weight: bolder;
}


textarea {
    resize: none;
}


// animation photo et texte header
@keyframes opacity {
    from {
        opacity: 0;
        scale: 0.75;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

// animation texte bottom header
@keyframes slideRight {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }

}

// animation nav header
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-300px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

// animation span
@keyframes wiggle {
    0% {
        transform: translateY(-50px);
        opacity: 1;
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50px);
        opacity: 1;
    }
}

// animation cards
@keyframes cards {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}